body, h2, p, input, form, table, tr, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Header styles */
.header {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.header-title img {
    height: 35px;
    display: block;
    margin: 0 auto 10px;
}

.header-title p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* Form styles */
form {
    margin-top: 20px;
}

table{
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Body styles */
.body {
    margin-top: 20px;
}
